.sidebar {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar > .ui.list > .item {
  cursor: pointer;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    padding: 0 20%;
  }

  .sidebar > .list > .item {
    display: flex !important;
    flex-direction: row-reverse !important;
  }
}