.App {
  text-align: center;
  margin: 1em auto 10em auto;
  max-width: 1100px;
  width: 100%;
}

.mapContainer {
  display: flex !important;
  flex-direction: row;
}

.serviceContainer {
  width: 30% !important;
  margin: 0 !important;
}

.sidebarContainer {
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 1em auto 0 auto;
  }

  .mapContainer {
    flex-direction: column;
  }

  .serviceContainer {
    width: 100% !important;
    margin-top: 15px !important;
  }

  .sidebarContainer {
    display: none !important;
  }
}